includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests
#    scanFiles:
#        - vendor/symfony/validator/Test/ConstraintValidatorTestCase.php
    bootstrapFiles:
        - vendor/autoload.php
